@import "../../../../colors.scss";

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;

    .form-signin {
        width: 100%;
        max-width: 500px;
        padding: 30px;
        margin: auto;
        background-color: #c6d8e0a3;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        .checkbox {
            font-weight: 400;
        }
        .input-error{
            color: $error;
        }

        .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
            border-radius: 15px;
            border: 2px solid;

            &:focus {
                border-color: $accent;
                z-index: 2;
            }
        }

        .buttons {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            

            button {
                flex: 1;
                padding: 10px;
                max-width: 40%;
            }
        }

        
    }
}