<div class="nav-holder">
  <ul class="menu">
    <li class="app-logo">
      <img class="logo" src="../../../assets/logo.webp" alt="Logo" />
    </li>
    <li class="item"><a routerLink="/games/best-sellers">Mas Populares</a></li>
    <li class="item">
      <a routerLink="/games/top-downloads">Mas Descargados</a>
    </li>
    <li class="item"><a routerLink="/games/coming-soon">Proximamente</a></li>
    <li class="item"><a routerLink="/games/add">Agregar</a></li>
    <li class="item pull-rigth">
      <button class="btn-clear" (click)="logOut()">Salir</button>
    </li>
  </ul>
</div>
