/* You can add global styles to this file, and also import other style files */

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$white: #FAFAFA;
$accent: #6D87A7;           
$error: #811702;
$warning: #F9E055;
$valid: #038144;