/* You can add global styles to this file, and also import other style files */
@import "colors.scss";
body, p {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    border-radius: 15px;
    border: 2px solid;
    &:hover {
        background-color: $accent; /* Green */
        color: $white;
        cursor: pointer;
      }
    &-primary{
        &:hover {
            background-color: $white; /* Green */
            color: $accent;
            cursor: pointer;
            font-weight: 500;
          }
        color:$white;
            background-color: $accent;
            border-color: $accent;
       
    }
    &-secondary{
        border-color: $accent;
    }
}